@import url('https://fonts.cdnfonts.com/css/sf-compact-display');

:root {
  padding: 0;
  margin: 0;
  --bgaccentcolor: #2B2B2B;
  --bgcolor: #121212;
  --fontcolor: #FBFAF5;
  --accentfontcolor: rgb(142, 142, 142);
  --maincolor: #51BBFB;
}

body {
  background-color: var(--bgcolor);
  color: var(--fontcolor);
  font-family: 'SF Compact Display', sans-serif;
}


.comp_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Paste your new css here */

.card_title {
  color: var(--fontcolor);
  margin: 1rem 0rem -0.6rem 1rem;
}

/* CARD */

.card_comp {
  width: 60vw;
  border: 2px solid var(--maincolor);
  border-radius: 5px;
  display: flex;
  gap: 1px;
  margin: 1rem;
  background-color: #333333;
}

.card_profile {
  position: relative;
  padding: 1rem;
  width: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-items: center;
  align-content: space-around;
  
}

.card_verticalline {
  position: absolute;
  background-color: var(--maincolor);
  height: 100%;
  z-index: 0;
  width: 2px;
}

.card_profile_img{
  z-index: 1;
}

.card_profile_img {
  background-color: var(--maincolor);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 1;
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0.5rem;
  padding-right: 1rem;
}

.card_buttons {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 5px;
  margin-left:15px;
}

.user_name {
  margin: 5px;
  margin-bottom: -5px;
}

.user_desc {
  font-size: 12px;
  font-weight: 200;
  align-items: justify;
  line-height: 14.5px;
  word-spacing: 1px;
  margin: 1rem;
}

.card_userid {
  font-size: 0.7rem;
  color: var(--accentfontcolor);
}

.card_btn {
  font-weight: bold;
  padding: 8px 15px;
  width: 6rem;
  border-radius: 10px;
  border: 1px solid var(--maincolor);
  color: var(--fontcolor);
  background-color: var(--maincolor);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 100ms linear;
  text-transform: capitalize;
}

.card_btn:hover {
  color: var(--maincolor);
  background-color: var(--fontcolor);
  
}

/* sidewar */

.header {
  height: 8vh;
  width: 100vw;
  position: fixed;
  z-index: 3;
  background-color: var(--bgcolor)
}

a {
  text-decoration: none;
  color: var(--fontcolor);
  padding-top: 1vh;
  padding-left: 0.4vw;
}

a:hover {
  color: var(--maincolor);
  opacity: 90%;
}

.sidebar {
  background-color: var(--maincolor) transparent;
  display: block;
  position: fixed;
  height: 100%;
  width: 15vw;
  display: flex;
  flex-direction: column;
  border-right: 0.7vh transparent var(--maincolor);
  padding: 10vh 0 0 0;
}

.side-component>img {
  height: 2rem;
  width: 2rem;
}

.side-component {
  padding: 3vh 2vw 3vh 2vw;
  display: flex;
  vertical-align: middle;
}

.head-comp {
  padding: 0 2vw 0 2vw;
  color: var(--maincolor);
  position: fixed;
}

/* homepage */
.homepage-comp {
  display: flex;
}

.card_btn_dislike:nth-last-child(1):hover {
  background-color: transparent;
}

/* profile */

.profilecard_comp {
  width: 60vw;
  border: 2px solid var(--maincolor);
  border-radius: 5px;
  display: flex;
  gap: 1px;
  /* margin: 1rem; */
  background-color: #333333;
  display: flex;
  flex-direction: column;
  
}

.profilecard_top {
  border-radius: 5px 5px 0 0px;
  background-image: linear-gradient(90deg, var(--maincolor), var(--fontcolor));
  margin: 0;
  padding: 0;
  height: 10rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.profilecard_profile_img {
  position: relative;
  top: 50%;
  width: 10rem;
  left: 2rem;
  border: 5px solid var(--fontcolor);
  border-radius: 50%;
}

.profile_follow_btn {
  cursor: pointer;
  position: relative;
  top: 3rem;
  right: 1rem;
  font-weight: bold;
  /* font-size: 1.0rem; */
  padding: 8px 15px;
  width: 7rem;
  height: 2rem;
  border-radius: 50px;
  border: 2px solid var(--maincolor);
  color: var(--fontcolor);
  background-color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 100ms linear;
  text-transform: capitalize;
}

.profile_follow_btn:hover {
  color: var(--maincolor);
  background-color: var(--fontcolor);
}

.profilecard_bottom {
  padding: 1rem;
}

.profile_name {
  font-size: 1.5rem;
}

.profile_userid {
  margin-top: 2px;
  font-size: 0.7rem;
  color: var(--accentfontcolor);
}

.profile_bio {
  margin: 1rem 0; 
}

.profile_tweets{

}
/* profile */

.profilecard_comp {
  width: 60vw;
  border: 2px solid var(--maincolor);
  border-radius: 5px;
  display: flex;
  gap: 1px;
  margin: 1rem;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  
}

.profilecard_top {
  border-radius: 5px 5px 0 0px;
  background-image: linear-gradient(90deg, var(--maincolor), var(--fontcolor));
  margin: 0;
  padding: 0;
  height: 10rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.profilecard_profile_img {
  position: relative;
  top: 50%;
  width: 10rem;
  left: 2rem;
  border: 5px solid var(--fontcolor);
  border-radius: 50%;
}

.profile_follow_btn {
  cursor: pointer;
  position: relative;
  top: 3rem;
  right: 1rem;
  font-weight: bold;
  /* font-size: 1.0rem; */
  padding: 8px 15px;
  width: 7rem;
  height: 2rem;
  border-radius: 50px;
  border: 2px solid var(--maincolor);
  color: var(--fontcolor);
  background-color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 100ms linear;
  text-transform: capitalize;
}

.profile_follow_btn:hover {
  color: var(--maincolor);
  background-color: var(--fontcolor);
}

.profilecard_bottom {
  padding: 1rem;
}

.profile_name {
  font-size: 1.5rem;
}

.profile_userid {
  margin-top: 2px;
  font-size: 0.7rem;
  color: var(--accentfontcolor);
}

.profile_bio {
  margin: 1rem 0;
}

/* Tweet */

.tweet_comp{
  margin: 1rem;
  width: 60vw;
  border: 2px solid var(--maincolor);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  background-color: #333333;
  height:60vh;
  gap:1px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.tweet_comp >div{
  padding:1rem;
}

.tweet_btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 2rem;
}

.tweet_input_submit:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.tweet_input_submit:active{
  background-color: var(--maincolor);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

.tweet_input_desc, .tweet_input_text{
  display: block;
  background-color: var(--bgcolor);
  outline:none;
  border: 2px solid var(--maincolor);
  border-radius: 5px;
  width:calc(100% - 2.15rem);
  transition: none;
  color:#fff;
  font-weight: bold;
  padding: 8px 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.tweet_input_desc{
  height:100px;
  resize: none;
  font-weight:300;
}

.tweet_input_submit{
  display: block;
  outline:none;
  cursor:pointer;
  background-color: var(--maincolor);
  outline:none;
  border: 2px solid var(--maincolor);
  border-radius: 5px;
  padding:8px 15px;
  height:30px;
  width:30%;
  transition: all 100ms linear;
  color:#fff;
  font-weight: bold;
  padding: 8px 15px;
  height:40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; 
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.tweet_wordcount{
  font-size: 0.8rem;
  font-family: 'SF Compact Display', sans-serif;
}

.card-section{
  /* padding-left: 180px;
  padding-top: 50px ; */
}


.head-side{
  display: block;
}

.card_title{
  color:var(--fontcolor);
  margin:1rem 0rem -0.6rem 1rem;
}

.centered{
  padding-left: 180px;
  padding-top: 50px ;
}