@import url('https://fonts.cdnfonts.com/css/sf-compact-display');

:root{
  padding: 0;
  margin: 0;
  --bgcolor: #2B2B2B;
  --fontcolor:#FBFAF5;
  --accentfontcolor: rgb(142, 142, 142);
  --maincolor:#51BBFB;
}

body{
  background-color: var(--bgcolor);
  color: var(--fontcolor);
  font-family: 'SF Compact Display', sans-serif;                              
}

.comp_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Paste your new css here */

/* CARD */

.card_comp{
  width:60vw;
  border: 2px solid var(--maincolor);
  border-radius: 5px;
  display: flex;
  gap:1px;
  margin:1rem;
  background-color: #333333;
}

.card_profile{
  position: relative;
  padding:1rem;
  width:100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-items: center;
  align-content: space-around;

}
.card_verticalline{
  position: absolute;
  background-color: var(--maincolor);
  height:100%;
  z-index: 0;
  width:2px;
}

.card_profile_img{
  z-index: 3;

}

.card_profile_img{
  background-color: var(--maincolor);
  height:50px;
  width:50px;
  border-radius: 50%;
  z-index: 1;
}

.card_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:100%;
  padding:0.5rem;
  padding-right: 1rem;
}

.card_buttons{
  width:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  gap:1rem;
  margin:5px;
}


.user_name{
  margin:5px;
  margin-bottom: -5px;
}
.user_desc{
  font-size: 12px;
  font-weight: 200;
  align-items: justify;
  line-height: 14.5px;
  word-spacing: 1px;
  margin:1rem;
}

.card_userid{
  font-size: 0.7rem;
  color: var(--accentfontcolor);
}

.card_btn{
  font-weight: bold;
  padding:8px 15px;
  width:6rem;
  border-radius: 10px;
  border: 1px solid var(--maincolor);
  color: var(--fontcolor);
  background-color: var(--maincolor);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 100ms linear;
  text-transform: capitalize;
}

.card_btn:hover{
  color: var(--maincolor);
  background-color: var(--fontcolor);

}

/* Profile page */

.profilecard_comp{
  width:60vw;
  border: 2px solid var(--maincolor);
  border-radius: 5px;
  display: flex;
  gap:1px;
  margin:1rem;
  background-color: #333333;
  padding:1rem;
}
.profilecard_top{
  width:100%;
  margin:0;
  padding:0;
  border: 2px solid var(--maincolor);

}

.profilecard_profile_img{
  position: relative;
  top:50%;
  left:2rem;
  background-color: var(--maincolor);
  height:10rem;
  width:10rem;
  border-radius: 50%;
  z-index: 1;
  border: 2px solid var(--maincolor);
  background-image: -webkit-linear-gradient(var(--maincolor), var(--fontcolor));
}